@using Foundation.Publications

@model Foundation.Publications.Models.Publications

<div class="Publications">
	@if(Model != null && Model.SitecoreItem != null)
	{
		
	}
	else if (Sitecore.Context.PageMode.IsExperienceEditor)
	{
		<p>Publications - the datasource is not set.  Click here to set the datasource.</p>
	}
</div>