@using Foundation.TextContent

@model Foundation.TextContent.Models.TextContent

<div class="TextContent">
	@if(Model != null && Model.SitecoreItem != null)
	{
		
	}
	else if (Sitecore.Context.PageMode.IsExperienceEditor)
	{
		<p>TextContent - the datasource is not set.  Click here to set the datasource.</p>
	}
</div>