@using Foundation.Events

@model Foundation.Events.Models.Events

<div class="Events">
	@if(Model != null && Model.SitecoreItem != null)
	{
		
	}
	else if (Sitecore.Context.PageMode.IsExperienceEditor)
	{
		<p>Events - the datasource is not set.  Click here to set the datasource.</p>
	}
</div>