@using Foundation.DatedContent

@model Foundation.DatedContent.Models.DatedContent

<div class="DatedContent">
	@if(Model != null && Model.SitecoreItem != null)
	{
		
	}
	else if (Sitecore.Context.PageMode.IsExperienceEditor)
	{
		<p>DatedContent - the datasource is not set.  Click here to set the datasource.</p>
	}
</div>