<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="website"
            set:database="master"
            set:cacheHtml="false"
            set:rootPath="/sitecore/content/ORMless" />
    </sites>
  </sitecore>
</configuration>